# Token dari @BotFather (kirim /newbot lalu salin tokennya)
BOT_TOKEN=8936394994:AAFLTtPT7O6c1h3lLbxyScGOUpuaW0lxq80

# ID Telegram Anda sebagai owner. Kosongkan lalu kirim /claim ke bot untuk mengisinya otomatis.
OWNER_ID=1641090169

# Port health check untuk hosting (Render/Railway). Boleh dibiarkan.
PORT=3000

# Zona waktu untuk tampilan jam
TZ=Asia/Jakarta
